* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

    font-family: "Quicksand", sans-serif;
}
body {
    background-color: rgb(240, 240, 240);
}
h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
}
